<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Lattidue:</strong>
  <%= @property.lattidue %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @property.location %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
